<html>
<head>
<title>AWS RDS backup</title>
</head>
<body>
   <h3>Database Backups maintainance Tool</h3>
   <h1 style="font-size:10px; color:#ff0000">
        Request List</h1>
        <a href="/backup/create"> Request for dB Backup </a>
        <h6> </h6>
        <a href="/backup/status"> Check Backup Status </a>
        <h6> </h6>
        <a href="/backup/delete"> Delete dB Backup </a>
   <p style="background-color:#ffffcc">
    Note: Sumbit request only one time per instance
   </p>
</body>
</html>
